In [1]:
# import SQL Alchemy
from sqlalchemy import create_engine

# Import and establesh BAse for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base

# Import modules to declare columns and column data type
from sqlalchemy import Column, Integer, String

# Import Session to push objects made and query the server.
from sqlalchemy.orm import Session

import pandas as pd

In [2]:
# Create Accident Class
class Accident(Base):
    __tablename__ = "accidents"
    id = Column(Integer,primary_key=True)
    case_num = Column(Integer)
    veh_num = Column(Integer)
    region = Column(String)
    region_num = Column(Integer)
    month = Column(String)
    hour = Column(String)
    make = Column(String)
    passenger_inj = Column(String)
    num_injured = Column(Integer)
    alcohol_involved = Column(String)
    situation = Column(String,)
    road_condition = Column(String)
    veh_damage = Column(String)

In [3]:
# Create and establish Database Connection
engine = create_engine("sqlite:///accidents.sqlite")
conn = engine.connect()

# Create Accident table within the database
Base.metadata.create_all(conn)

In [4]:
# Create Session to push the objects made and query the server.
session = Session(bind=engine)

# Readig csv file

In [5]:
import pandas as pd
path = "Resources/veh_19.csv"
data = pd.read_csv(path)
data_df = pd.DataFrame(data)
data_df.head()

,CASENUM,VEH_NO,REGIONNAME,REGION,MONTHNAME,HOURNAME,MAKENAME,MXVSEV_IMNAME,NUMINJ_IM,V_ALCH_IMNAME,PCRASH1_IMNAME,VSURCONDNAME,DEFORMEDNAME
0,2.019012e+11,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,January,8:00am-8:59am,Ford,No Apparent Injury (O),0,No Alcohol Involved,Accelerating in Road,Wet,Disabling Damage
1,2.019012e+11,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,January,2:00am-2:59am,Dodge,Possible Injury (C),1,No Alcohol Involved,Going Straight,Dry,Functional Damage
2,2.019012e+11,2,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,January,2:00am-2:59am,Honda,Possible Injury (C),1,No Alcohol Involved,Going Straight,Dry,Minor Damage
3,2.019012e+11,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,January,5:00am-5:59am,Nissan/Datsun,Suspected Minor Injury (B),1,Alcohol Involved,Changing Lanes,Dry,Disabling Damage
4,2.019012e+11,2,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,January,5:00am-5:59am,Chevrolet,Possible Injury (C),1,No Alcohol Involved,Turning Left,Non-Trafficway or Driveway Access,Disabling Damage

In [6]:
regions = data_df['REGIONNAME'].unique()
regions

array(['South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA, FL, AL, MS, LA, AR, OK, TX)',
       'West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, WY, AK, HI)',
       'Midwest (OH, IN, IL, MI, WI, MN, ND, SD, NE, IA, MO, KS)',
       'Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)'], dtype=object)

In [7]:
# Clean RegionName of the list of states for each region
region_name = data_df['REGIONNAME']
for i in range(len(data_df['REGIONNAME'])):
    row = data_df['REGIONNAME'][i]
    if row == regions[0]:
        region_name[i] = "South"
    elif row == regions[1]:
        region_name[i] = "West"
    elif row == regions[2]:
        region_name[i] = "Mid West"
    elif row == regions[3]:
        region_name[i] = "North East"
region_name.unique()

C:\Users\alexp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\alexp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\alexp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\alexp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

array(['South', 'West', 'Mid West', 'North East'], dtype=object)

In [8]:
# Assing the region_name to the correct column in the DataFrame
data_df['REGIONNAME'] = region_name
data_df['REGIONNAME'].unique()

array(['South', 'West', 'Mid West', 'North East'], dtype=object)

In [9]:
data_df.dtypes

CASENUM           float64
VEH_NO              int64
REGIONNAME         object
REGION              int64
MONTHNAME          object
HOURNAME           object
MAKENAME           object
MXVSEV_IMNAME      object
NUMINJ_IM           int64
V_ALCH_IMNAME      object
PCRASH1_IMNAME     object
VSURCONDNAME       object
DEFORMEDNAME       object
dtype: object

In [10]:
data_df = data_df.astype({"CASENUM":"int64"})

In [11]:
data_df.dtypes

CASENUM            int64
VEH_NO             int64
REGIONNAME        object
REGION             int64
MONTHNAME         object
HOURNAME          object
MAKENAME          object
MXVSEV_IMNAME     object
NUMINJ_IM          int64
V_ALCH_IMNAME     object
PCRASH1_IMNAME    object
VSURCONDNAME      object
DEFORMEDNAME      object
dtype: object

# From DataFrame to Database

In [12]:
for i in range(len(data_df.index)):
    
    # Create instance of the accident
    accident = Accident(
    id = i,
    case_num = int(data_df['CASENUM'][i]),
    veh_num = int(data_df['VEH_NO'][i]),
    region = data_df['REGIONNAME'][i],
    region_num = int(data_df['REGION'][i]),
    month = data_df['MONTHNAME'][i],
    hour = data_df['HOURNAME'][i],
    make = data_df['MAKENAME'][i],
    passenger_inj = data_df['MXVSEV_IMNAME'][i],
    num_injured = int(data_df['NUMINJ_IM'][i]),
    alcohol_involved = data_df['V_ALCH_IMNAME'][i],
    situation = data_df['PCRASH1_IMNAME'][i],
    road_condition = data_df['VSURCONDNAME'][i],
    veh_damage = data_df['DEFORMEDNAME'][i])
    
    # Add accident 'i' to the Database
    session.add(accident)
    # commit object to the Database
    session.commit()

In [13]:
data_df["CASENUM"][2]

201901176655

In [14]:
for row in session.query(Accident).filter(Accident.id <= 3).all():
    print(row)

<__main__.Accident object at 0x000001D13379FAC8>
<__main__.Accident object at 0x000001D13379FBC8>
<__main__.Accident object at 0x000001D13379FC48>
<__main__.Accident object at 0x000001D13379FCC8>

In [15]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base

In [16]:
engine.execute("SELECT * FROM accidents LIMIT 10").fetchall()

[(0, 201901174219, 1, 'South', 3, 'January', '8:00am-8:59am', 'Ford', 'No Apparent Injury (O)', 0, 'No Alcohol Involved', 'Accelerating in Road', 'Wet', 'Disabling Damage'),
 (1, 201901176655, 1, 'South', 3, 'January', '2:00am-2:59am', 'Dodge', 'Possible Injury (C)', 1, 'No Alcohol Involved', 'Going Straight', 'Dry', 'Functional Damage'),
 (2, 201901176655, 2, 'South', 3, 'January', '2:00am-2:59am', 'Honda', 'Possible Injury (C)', 1, 'No Alcohol Involved', 'Going Straight', 'Dry', 'Minor Damage'),
 (3, 201901176667, 1, 'South', 3, 'January', '5:00am-5:59am', 'Nissan/Datsun', 'Suspected Minor Injury (B)', 1, 'Alcohol Involved', 'Changing Lanes', 'Dry', 'Disabling Damage'),
 (4, 201901176667, 2, 'South', 3, 'January', '5:00am-5:59am', 'Chevrolet', 'Possible Injury (C)', 1, 'No Alcohol Involved', 'Turning Left', 'Non-Trafficway or Driveway Access', 'Disabling Damage'),
 (5, 201901176694, 1, 'South', 3, 'January', '4:00am-4:59am', 'Mazda', 'No Apparent Injury (O)', 0, 'No Alcohol Involved', 'Going Straight', 'Dry', 'Disabling Damage'),
 (6, 201901176702, 1, 'South', 3, 'January', '9:00am-9:59am', 'Toyota', 'No Apparent Injury (O)', 0, 'No Alcohol Involved', 'Turning Left', 'Dry', 'Minor Damage'),
 (7, 201901176702, 2, 'South', 3, 'January', '9:00am-9:59am', 'Toyota', 'Possible Injury (C)', 1, 'No Alcohol Involved', 'Turning Left', 'Dry', 'Minor Damage'),
 (8, 201901176716, 1, 'South', 3, 'January', '7:00pm-7:59pm', 'Volvo', 'Suspected Serious Injury (A)', 1, 'No Alcohol Involved', 'Going Straight', 'Dry', 'Disabling Damage'),
 (9, 201901176716, 2, 'South', 3, 'January', '7:00pm-7:59pm', 'Peterbilt', 'No Apparent Injury (O)', 0, 'No Alcohol Involved', 'Backing Up (other than for Parking Position)', 'Dry', 'Minor Damage')]